{% extends 'base/base.html' %}
{% block header %}
{% endblock %}
{% block content %}

{% if validlink %}


<form method="post" class="form-group card" style="width: 40rem;left:25%;padding:3rem;margin-top:4rem;">
    {% csrf_token %}
    <h1  style="text-align:center;color:#E67E22;">Cambio de contraseña</h1>
    {{ form.new_password1.errors }}
    <label for="id_new_password1">Nueva Contraseña:</label>
    {{ form.new_password1 }}
    {{ form.new_password2.errors }}
    <label for="id_new_password2" style="margin-top:1rem; color:red;">(*) Confirma Contraseña:</label>
    {{ form.new_password2 }}
    <input style="margin-top: 1rem;" class="btn btn-outline-info" type="submit" value="Cambiar mi contraseña" />
</form>
{% else %}
    <h1  style="text-align:center;color:#E67E22;">ENLACE INVALIDO: Este enlace ya ha sido utilizado o ha expirado</h1>
{% endif %}

{% endblock %}